.navbar {
    margin-bottom: 0;
    border-radius: 0;
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #a9a9a9;
}

.img-responsive {
    width: 400px;
    height: 175px;
}

.move:hover {
    background-color: chocolate;
    opacity: .8;
}

body {
    background-color: #d7cec7;
}

.jumbotron {
    background-image: linear-gradient( #ab987a, #d7cec7);
}

.fa-html5, .fa-css3-alt {
    color: pink;
    background-color: black;
}