.navbar {
    margin-bottom: 0;
    border-radius: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #a9a9a9;
}

.img-responsive {
    width: 400px;
    height: 175px;
}

body {
    background-color: #d7cec7;
}

.jumbotron {
    background-color: #c09f80;
}