.navbar {
    margin-bottom: 0;
    border-radius: 0;
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-image: linear-gradient( #a9a9a9, #d7cec7);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

a {
    color: #76323f;
}

a:hover {
    color: #c09f80;
}

h1, h2, h3 {
    font-family: 'Spicy Rice', cursive;
}

h5 {
    font-family: 'Courgette', cursive;
}

p1 {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

p {
    font-family: 'Poppins', sans-serif; 
    color: #76323f;
}

.img-responsive {
    width: 400px;
    height: 175px;
}

.move:hover {
    background-color: chocolate;
    opacity: .4;
}

body {
    background-color: #d7cec7;
}

.jumbotron {
    background-image: linear-gradient( #ab987a, #d7cec7);
}

.fa-html5, .fa-css3-alt, .fa-js-square, .fa-file-code,
.fa-bootstrap, .fa-github-square, .fa-database, .fa-node-js {
    color: #76323f;
    background-color: darkgrey;
}

.rotate {
    width: 100px;
    height: 100px;
    transition: width 2s, height 2s, transform 3s;
  }
  
.rotate:hover {
    transform: rotate(360deg);
}